{% extends "base.html" %}

{% block title %}
SGE - Produto Detalhes
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes do Produto</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text">ID: {{ product.id }}</p>
            <p class="card-text">Título: {{ product.title }}</p>
            <p class="card-text">Categoria: {{ product.category }}</p>
            <p class="card-text">Marca: {{ product.brand }}</p>
            <p class="card-text">Número de Série: <strong>{{ product.serie_number }}</strong></p>
            <p class="card-text">Preço de Custo: <strong>R$ {{ product.cost_price }}</strong></p>
            <p class="card-text">Preço de Venda: <strong>R$ {{ product.selling_price }}</strong></p>
            <p class="card-text">Quantidade em Estoque: <strong>{{ product.quantity }}</strong></p>
        </div>
    </div>
    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para Lista de Produtos</a>
</div>

{% endblock %}
