{% extends "base.html" %}

{% block title %}
SGE - Editar {{ object.name }}
{% endblock %}

{% block content %}

<div class="container md-4">
  <h3 class="display-6">Editar Marca</h3>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'brand_update' object.id %}" class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Editar Marca</button>
      </form>
    </div>
  </div>
  <a href="{% url 'brand_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para Lista de Marcas</a>
</div>

{% endblock %}